.container {
  display: grid;
  grid-template-columns: 20% 80%;
}

.backToHome{
  position: fixed;
   bottom: 10%;
   left: 5%;
   background: var(--deepGreen);
}

.backToHome a {
  color: var(--white);
}