.menu {
  border: 1px dashed var(--purple);
  margin: 0;
  width: 100%;
  min-height: 90vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}
