.menu {
  border: 1px dashed var(--purple);
  margin: 0;
  width: 15%;
  min-height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menuBtnWrapper {
  display: flex;
  justify-content: center;
  border-bottom: 1px dashed var(--purple);
}

.backToHome {
  margin: 0.5rem auto;
  padding: 2px 8px 0 8px;

}

.backToHome:hover {
  transform: scale(1.2);
}

