.unit {
  display: grid;
  padding: 4rem 1rem 2rem;
  border: 2px solid var(--white);
  grid-template-columns: 13% 85%;
  gap: 2%;
}

.number {
  font-size: 5rem;
  text-shadow: 5px 1px 0px var(--yellow);
  align-self: start;
}

.stackWrapper {
  display: flex;
  flex-direction: row;
  font-size: smaller;
  justify-content: flex-start;
  align-content: center;
  align-items: center
}

.stackWrapper li {
  list-style: none;
  background-image: linear-gradient(180deg, rgba(255, 255, 0, 0) 92%, rgba(10, 10, 10, 1) 84%);
  transform: skewX(-12deg);
  margin-right: 1rem;
  padding: 0.2rem 0.3rem;
}

.socialImagesWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center
}

.socialImgWrapper {
  border: 1px dashed var(--darkGrey);
  padding: 0.2rem 1rem;
  box-shadow: 5px 5px 2px 1px var(--yellow);
  transition: 1s;
  margin-right: 1.5rem;
  text-transform: lowercase;
  font-size: smaller;
}

.socialImgWrapper:hover {
  border: 2px solid var(--yellow);
  text-decoration: none;
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .number {
    font-size: 4rem;
  }
  .unit {
    grid-template-columns: 18% 80%;
  }
}

@media (max-width: 600px) {
  .number {
    font-size: 2rem;
  }
  .stackWrapper { 
    flex-wrap: wrap;
  }
  .unit {
    grid-template-columns: 18% 80%;
  }
}