.mainWrapper {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.3rem;
  padding: 0.3rem;
}

.unit {
  display: grid;
  padding: 1rem 1rem 2rem;
  border: 2px solid var(--purple);
  grid-column: span 1;
  grid-row: span 1;
}

.unit:hover {
  color: var(--white);
  background-color: var(--purple);
}

.stackWrapper {
  display: flex;
  flex-direction: row;
  font-size: smaller;
  justify-content: flex-start;
  align-content: center;
  align-items: center
}

.stackWrapper li {
  list-style: none;
}

.stackWrapper li:not(:first-of-type) {
  padding-left: 1rem;
}

.socialImgWrapper:hover {
  margin-bottom: 0.2rem;
}

.socialImagesWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center
}

.socialImgWrapper {
  padding-right: 1rem;
}

@media (max-width: 768px) {
  .mainWrapper {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
  }
}