:root {
  --darkGrey: #2B2B2B;
  --grey: #C0C0C0;
  --white: #ffffff;
  --yellow: #ffff00;
  --blue: #0080ff;
  --violet: #8000ff;
  --extraLg: 1440px;
  --lg: 1200px;
  --netbook: 1000px;
  --tablet: 768px;
  --tabletSm: 600px;
  --phoneLg: 480px;
  --phone: 376px;
  --extraSm: 330px;
}