@font-face {
  font-family: 'Lato';
  src: url('./fonts/montserrat-v15-latin-regular.woff2') format("woff2");
}

html {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-size: 100%;
  font-weight: normal;
}

body, button {
  font-family: 'Montserrat', sans-serif;
}

button {
  background-color: var(--purple);
  color: var(--white);
  border: 1px solid var(--white);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: var(--white);
  color: var(--darkGrey);
  min-width: var(--extraSm);
  margin: 0 auto;
}

main {
  margin: 0 auto;
  max-width: 1400px;
}

li, ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: normal;
}

h1, h2, h3 {
  margin: 0;
}

h1, h2, a {
  letter-spacing: 0.5px;
}

h2 {
  font-size: 2rem;
  font-weight: normal;
}

a {
  color: var(--darkGrey);
  text-decoration: none;
  font-weight: 100;
}

a:hover {
  text-decoration-thickness: 0.3px;
}

img {
  max-width: 100%;
  display: block;
}

header {
  position: relative;
  overflow: visible;
  margin: 0 auto;
}

section {
  margin: 0 auto;
  padding: 0;
}

.width {
  max-width: 900px;
  margin: 0 auto;
}

address {
  text-align: center;
  font-size: smaller;
  padding-top: 0.5rem;
}

@media (max-width: 1000px) {
  section {
    height: auto;
  }
}